* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

/* Nave */


.nave {
    display: flex;
    width: 90%;
    height: 92px;
    background-color: #FFFFFF;
    margin: 10px auto;
    padding: 16px 120px;
    align-items: center;
    justify-content: space-between;
    gap: 20px;

}

.nave_logo img {
    width: 139px;
    height: 60px;

}

.nave_text {
    display: flex;
    width: 365px;
    height: 24px;
    gap: 32px;
}

.nave_button {
    background-color: #30B868;
    width: 164px;
    height: 44px;
    border-radius: 4px;
    align-content: center;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 400;

    padding: 12px 16px;
}


/* header */

.header {
    width: 90%;
    margin: 0 auto;
    height: 674px;
    background-image: url(./assets/hero-bg.png);
    background-size: cover;

}


.header-container {
    padding: 120px;
    text-align: center;

    
}

.head-early {
    width: 229px;
    height: 36px;
    border-radius:20px;
    background-color: #FFFFFF;
    color: #30B868;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 12px;
    margin: 0 auto;

}

.head-text {
    font-family: inter;
    font-weight: bold;
    color:#FFFFFF;
    font-size: 25px;
    margin-top: 16px;
    margin-bottom: 60px                            ;
    

}

.h-h1 {
    color: #30B868;
    margin: 0 auto;
}

.head-para {
    color: #FFFFFF;
    font-family: inter;

}

.head-button {
    margin-top: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    gap: 20px;

}

.btn1 {

    height: 52px;
    font-weight: 251px;
    background-color: #30B868;
    padding: 12px 16px;
    border-radius: 4px;
    align-content: center;

}

.btn2 {
    height: 52px;
    width: 198px;
    border: 2px solid #FFFFFF;
    padding: 12px 16px;
    align-content: center;

}

.btn {
    padding-right: 8px;
}
.Btn {
    padding-left: 8px;
}

/* header-note */

.header_note {
    width: 90%;
    margin: 0 auto;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    font-family: inter;
    font-weight: bold;
  
}

.header_note p {
    font-size: small ;
    color: rgb(43, 42, 42);
    padding-top: 15px;
}


.all_notes {
    width: 90%;
    margin: 0 auto;
}

.notes {
    padding: 120px;
    display: flex;
    gap: 24px;
    margin: 0 auto;
    justify-content: space-between;

}

.note-1 {
    width: 322px;
    height: 300px;
    padding: 24px;
    align-content: center;
    text-align: center;
    border-radius: 8px;
    box-shadow:#30B868;
    background-color:whitesmoke;


}

.note-1 h2 {
    color: #30B868;
    padding-top: 15px;
    padding-bottom: 15px;
    font-family: inter;
    font-weight: bold;
}

.note-1 p {
    color: rgb(59, 59, 59);
    font-family: inter;
}
.note-1-img {
    width: 60px;
    height: 60px;
    background-color: #F95555;
    border-radius: 50%;
    align-content: center;
    text-align: center;
    margin: 0 auto;
}


 /* Main-brain-section */

.main-brain {
    width: 90%;
    margin: 0 auto;
    font-family: inter;
    

}

.brain-container {
    padding: 120px;
    border: 2px soldi greenyellow;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}

.brain-text {
    width: 700px;
    height: 420px;
    display: flex;
    flex-direction: column;
    justify-content: center; 
}

.brain-header {
    padding-bottom: 40px;
}

.brain-header p {
    color: #30B868;
    margin-bottom: 20px                                                ;
}

.brain-para {
        padding-bottom: 40px;
        color: rgb(59, 59, 59);

    
}


/* Main-ready-section */

.main-ready {
    width: 90%;
    margin: 0 auto;
    padding: 120px;
    font-family: inter;


}


.ready-container {
    height: 465px;
    margin: 0 auto;
    padding: 80px 40px;
    background-color: #e9e1bc;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.ready-container p {
    color: rgb(63, 63, 63);
    
}

.ready-header h1 {
    padding-bottom: 24px;
}


.ready-button {
    width: 194px;
    height: 52px;
    background-color: #30B868;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px 0;
    color: white ;
    
    border-radius: 4px;
}

.fotter {
    background-color:#001931;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 200px;
}

.fotter-container {
    padding: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.fotter-logo {
    display: flex ;
}

.fotter-text p {
    margin-left: 35px;
    padding-bottom: 10px;
}

.fotter-copy-right {
    width: 90%;
    margin: 0 auto;
    color: white;
    border-top: 2px solid white;
    padding: 40px;
    text-align: center;
    
}

/* 
.fotter-logo {
    width: 90%;
    margin: 0 auto;
    padding: 120px 120px 30px 120px;
}

.fotter-container {
    display: flex;
    justify-content: center;
    align-items: center;
    
}




.fotter-logo {
    display:flex;
    justify-content: center;
    align-items: center;
}


.fotter-section {
    display: flex;
} */

