* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

/* Nave */


.nave {
    display: flex;
    width: 90%;
    height: 92px;
    background-color: #FFFFFF;
    margin: 10px auto;
    padding: 16px 120px;
    align-items: center;
    justify-content: space-between;
    gap: 20px;

}

.nave_logo img {
    width: 139px;
    height: 60px;

}

.nave_text {
    display: flex;
    width: 365px;
    height: 24px;
    gap: 32px;
}

.nave_button {
    background-color: #30B868;
    width: 164px;
    height: 44px;
    border-radius: 4px;
    align-content: center;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 400;

    padding: 10px;
}


/* header */

.header {
    width: 90%;
    height: ;

}